<a href="https://colab.research.google.com/github/Mo-onlight/Python-practice/blob/main/python_practice_1_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 기초 문법

## 1. 사칙연산

In [2]:
1+1
2*2

4

## 2. 변수 대입과 계산

In [3]:
a = 1
b = 2

In [4]:
a+b

3

## 3. 변수 문자 대입과 출력

In [5]:
 a = "Hello World"
 print(a)

Hello World

## 4. 조건문

In [7]:
a = 2
if a > 1: # 파이썬은 콜론을 쓴다
  print("a is greater than 1") # if 문 다음은 들여쓰기(tab) 반드시 수행되어야 함

a is greater than 1

## 5. 반복문

In [8]:
for a in [1, 2, 3]: # 제어문에서 더 자세히 다룸
  print(a)

1
2
3

In [9]:
i = 0
while i < 3: # i가 3보다 작을 때까지 i를 출력해라 
  i = i+1
  print(i)

1
2
3

## 6. 함수

In [12]:
def add(a,b): # def(함수선언) add(함수명), a,b(인자)
  return a*b # return(반환)

In [13]:
add(3,4)

12

# Python 제어문

## Python의 조건문(if)


---

In [18]:
money = False
if money:
  print("택시타고 가라")
else:
  print("걸어 가라")

걸어 가라



---


*   파이썬에서는 들여쓰기(indextation) 규칙을 항상 지켜야 한다.
*   if 조건문을 사용하는 경우 클론(:)을 반드시 사용해야 한다.


---

 ## Python의 비교연산자


---




*   x == y : x와 y는 같다
*   y != y : x와 y는 같지 않다


---

In [20]:
x = 3
y = 2
x != y

True

In [21]:
1 in [1,2,3] # 리스트 [1,2,3]에 1이 포함되었는가? 라는 조건문

True

In [22]:
i not in [5,6,7]

True

In [23]:
 pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket :
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

## Python의 반복문(for)

---
python의 직관적인 특징을 가장 잘 대변해 주는 것이 for문이다. 파이썬의 for문은 매우 유용하고 문장구조가 한 눈에 쏙들어온다는 장점이 있다

In [25]:
test_list = ['one', 'two', 'tree']
for i in test_list:
  print(i)

one
two
tree

리스트 안에 있는 요소를 왼쪽부터 하나씩 i로 실행

In [29]:
 a = [(1,2),(3,4),(5,6)]
 for (first, last) in a:
   print(first + last)

3
7
11

 ## Python for문의 응용


  ---
for문의 쓰임새를 알고 위해 다음을 가정해 보자.
  "총 5명의 학생이 시험을 보았는데 시험 정수가 60이 넘으면 합격이고 그렇지 않으면 불합격이다. 합격인지 불합격인지 결과를 보여 주시오."

우선 학생 5명의 시험 정수를 리스트로 표현하면 다음과 같다.* marks=[90, 25, 67, 45,80]*

In [35]:
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print("%d번 학생은 합격입니다." % number) 
  else:
    print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

문자열 안 변수넣어서 출력
변수를 넣을 부분에서 [%s(문자열) or 정수(%d) or 소수(%f)]  % 변수명

In [36]:
a = range(10)
a

range(0, 10)

range(10)은 0부터 10미만의 숫자를 포함하는 range 객체를 만들어준다.
range(시작숫자, 끝숫자) 형태 사용, *이때 끝 숫자는 미포함*

In [41]:
final = 0
for i in range(1,11):
  final = final + i
print(final)

55

### [깜짝 퀴즈]
A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다,
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for문을 사용하여 A 학급의 평균 점수를 구해보자

In [44]:
test = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in test:
  total += i # total = total + i
print(total/len(test))

79.0

### [깜짝퀴즈]
주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해보자

In [47]:
def is_odd(a):
  if a % 2 == 1:
    return print("홀수")
  else:
    return print("짝수")

In [48]:
is_odd(3)

홀수